body{
    background-image: linear-gradient(#009688 20%, #DCDBD3 0%);
    height: 100vh;
}

#side-bar{
    height: 700px;
    width: 35%;
    background-color: white;
}

#message-area{
    height: 700px;
    width: 65%;
    background-image: url(../img/mine.jpg);
}

.avatar{
    height: 70px;
    border-radius: 50%;
}

.side-bar-header{
    background-color: #EAEAEA;
    height: 100px;
}

.message-area-header{
    background-color: #EAEAEA;
    height: 100px;
}

.side-bar-comunication{
    background-color: #8EDAFC;
    height: 100px;
}

.message-area-chat{
    height: 530px;
}

.message-area-footer{
    height: 70px;
    background-color: #EAEAEA;
} 

i{
    font-size: 2rem;
    color:darkgrey;
}

p{
    font-size: 20px;
}

ul{
    list-style-type: none;
}

.bg-color{
    background-color: white;
    border-radius: 50%;
    color: #8EDAFC; 
}

/*MESSAGES*/

.message-container{
    display: flex;
}

.message-container.sent {
 justify-content: flex-end;
}

.message-container.received {
    justify-content: flex-start;
   }
   
.message-container.sent .message {
    background-color: lightgreen;
   }
   
.message-container.received .message {
    background-color: white;
   }  

.message-container .message p{
    margin-bottom: 0;
}